.text-muted{
    color: #9f9f9f;
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.95;
    font-size: 15px;
  }
  
  .btn{
      padding: 10px 26px;
      background-color: #009e66;
      border: 1px solid #009e66;
      color: #fff;
      border-radius: 30px;
      font-size: 14px;
      font-weight: 550;
  }
  
  .form-control:focus{
    box-shadow: unset;
    border-color: unset;
    border-bottom:2px solid #009e66 ;
  }
  
  .form-control,.form-control:focus{
    background-color: #161616;
    color: #fff;
  }
  
  .form-cell:focus{
    text-decoration: underline;
    text-decoration-color: #009e66;
  }